** /.gradle/
*+/build/
!** /gradle/wrapper/gradle-wrapper.jar

# Android Studio / Intelli]
** /.idea/
** / *. iml
** /.cxx/
** /.externalNativeBuild/
** /captures/

# Config local de máquina
** /local.properties

# Artefactos de compilación / distribución
** / *. apk
** / *. ap_
** /+.aab

# Firmas / claves (|nunca al repo!)
** / *. jks
** / *. keystore
** /keystore.properties

# Archivos temporales y varios
** /+.10g
** / *. tmp
** / *-
.DS_Store
Thumbs. db
.vscode/